.list-container {
  margin-top: 3rem;
}

.table-container {
  margin-top: 4rem;
}

.table-row th {
  padding: 0 16rem 0 0rem;
  text-align: start;
  align-items: flex-start;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
}

#primary {
  background-color: cadetblue;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
}

#delete {
  background-color: rgb(238, 35, 86);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
}